<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean id="parent"  abstract="true" >-->
        <!--<property name="name" value="Yang Kang" />-->
     <!--</bean>-->
    <!--<bean id="child" class="canger.study.context.animinal.Child" parent="parent">-->
        <!--<property name="age" value="18"/>-->
    <!--</bean>-->

    <bean id="boy" class="canger.study.context.circular.Boy">
        <property name="girl" ref="girl"></property>
    </bean>
    <bean id="girl" class="canger.study.context.circular.Girl">
        <property name="boy" ref="boy"></property>
    </bean>
</beans>